.item{
    padding: 50px;
    text-align: center;
    font-size: 40px;
    background-color: green;
    margin: 20px;
    min-width: 300px;
    transition: all .5s;
}

.item:hover{
    transform:  scale(1.5);
    background-color: red;
}

.wrapper{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

/* .item2{
    height: 500px;
} */

.item2:hover{
    background-color: blue;
}

.item10:hover{
    transform: scale(0.75);
}

.item8:hover{
    transform: scale(1);
}